<a href="https://colab.research.google.com/github/nishu-mns/ML-Labs/blob/main/ML_Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB, MultinomialNB, CategoricalNB

In [ ]:
data = pd.read_csv("drive/MyDrive/Dataset2.csv")
data

   Outlook Temp Wind Humidity Class
0        R    H    F   Normal     N
1        R    H    T     High     N
2        O    H    F   Normal     Y
3        S    M    F   Normal     N
4        S    M    F   Normal     Y
5        S    M    T      Low     Y
6        O    C    T   Normal     Y
7        R    C    F   Normal     Y
8        R    C    F      Low     Y
9        S    M    F     High     Y
10       R    M    T     High     Y
11       O    M    T      Low     Y
12       O    H    F   Normal     Y
13       S    M    T   Normal     N

In [ ]:
le = LabelEncoder()
for i in data:
    data[i] = le.fit_transform(data[i])
features = data.iloc[:, :-1]
labels = data.iloc[:, -1:]

In [ ]:
features

    Outlook  Temp  Wind  Humidity
0         1     1     0         2
1         1     1     1         0
2         0     1     0         2
3         2     2     0         2
4         2     2     0         2
5         2     2     1         1
6         0     0     1         2
7         1     0     0         2
8         1     0     0         1
9         2     2     0         0
10        1     2     1         0
11        0     2     1         1
12        0     1     0         2
13        2     2     1         2

In [ ]:
labels

    Class
0       0
1       0
2       1
3       0
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.1, random_state=1)

In [ ]:
X_train.shape, X_test.shape

((12, 4), (2, 4))

In [ ]:
gnb = GaussianNB()
gnb.fit(X_train, y_train.values.ravel())
predictions = gnb.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

In [ ]:
score = accuracy_score(y_test, predictions)
score

0.5

In [ ]:

score = precision_score(y_test, predictions)
score

0.5

In [ ]:

score = recall_score(y_test, predictions)
score

1.0

In [ ]:
cfm = confusion_matrix(y_test, predictions)
cfm

array([[0, 1],
       [0, 1]])

In [ ]:
# outlook = rainy, temp = mild, humidity = normal, wind = false
# outlook = sunny, temp = cool, humidity = high, wind = true
print(gnb.predict([[1, 2, 2, 0], [2, 0, 0, 1]]))
print(gnb.predict_proba([[1, 2, 2, 0], [2, 0, 0, 1]]))

[0 1]
[[0.53514985 0.46485015]
 [0.02810552 0.97189448]]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [ ]:
from sklearn import datasets
digits = datasets.load_digits()
features = np.array(digits.feature_names)
features

array(['pixel_0_0', 'pixel_0_1', 'pixel_0_2', 'pixel_0_3', 'pixel_0_4',
       'pixel_0_5', 'pixel_0_6', 'pixel_0_7', 'pixel_1_0', 'pixel_1_1',
       'pixel_1_2', 'pixel_1_3', 'pixel_1_4', 'pixel_1_5', 'pixel_1_6',
       'pixel_1_7', 'pixel_2_0', 'pixel_2_1', 'pixel_2_2', 'pixel_2_3',
       'pixel_2_4', 'pixel_2_5', 'pixel_2_6', 'pixel_2_7', 'pixel_3_0',
       'pixel_3_1', 'pixel_3_2', 'pixel_3_3', 'pixel_3_4', 'pixel_3_5',
       'pixel_3_6', 'pixel_3_7', 'pixel_4_0', 'pixel_4_1', 'pixel_4_2',
       'pixel_4_3', 'pixel_4_4', 'pixel_4_5', 'pixel_4_6', 'pixel_4_7',
       'pixel_5_0', 'pixel_5_1', 'pixel_5_2', 'pixel_5_3', 'pixel_5_4',
       'pixel_5_5', 'pixel_5_6', 'pixel_5_7', 'pixel_6_0', 'pixel_6_1',
       'pixel_6_2', 'pixel_6_3', 'pixel_6_4', 'pixel_6_5', 'pixel_6_6',
       'pixel_6_7', 'pixel_7_0', 'pixel_7_1', 'pixel_7_2', 'pixel_7_3',
       'pixel_7_4', 'pixel_7_5', 'pixel_7_6', 'pixel_7_7'], dtype='<U9')

In [ ]:
labels = np.array(digits.target_names)
labels

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
digits.keys()
digits.target.shape, digits.data.shape

((1797,), (1797, 64))

In [ ]:
digits.data

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
labels_encoded = ohe.fit_transform(digits.target.reshape(-1,1)).toarray()
labels_encoded

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(digits.data, digits.target, test_size=0.35)

In [ ]:
gnb.fit(X_train, y_train)
predictions = gnb.predict(X_test)
predictions

array([1, 3, 8, 7, 1, 7, 4, 5, 0, 4, 1, 6, 8, 1, 2, 9, 3, 4, 6, 5, 4, 4,
       5, 8, 4, 6, 1, 3, 2, 1, 6, 9, 9, 4, 4, 1, 7, 1, 6, 0, 2, 0, 8, 9,
       5, 4, 4, 4, 7, 4, 3, 7, 5, 0, 6, 2, 6, 3, 5, 8, 1, 3, 0, 4, 0, 1,
       7, 1, 1, 8, 8, 0, 1, 0, 9, 0, 7, 7, 0, 9, 0, 1, 3, 1, 5, 9, 0, 4,
       4, 2, 7, 8, 7, 0, 3, 9, 5, 1, 6, 0, 6, 2, 1, 2, 3, 5, 1, 6, 4, 7,
       6, 1, 7, 1, 7, 5, 6, 1, 8, 3, 5, 5, 1, 0, 0, 6, 1, 1, 8, 4, 7, 5,
       1, 3, 8, 7, 1, 1, 5, 1, 8, 7, 2, 5, 4, 3, 8, 4, 9, 6, 3, 7, 6, 9,
       7, 1, 1, 0, 1, 1, 5, 8, 2, 1, 8, 2, 5, 5, 9, 9, 6, 0, 1, 8, 6, 1,
       5, 7, 1, 5, 3, 5, 0, 1, 4, 4, 3, 6, 6, 1, 5, 4, 7, 8, 0, 5, 8, 1,
       8, 7, 1, 9, 7, 9, 7, 0, 0, 3, 7, 9, 4, 1, 8, 9, 7, 8, 7, 7, 5, 4,
       8, 7, 6, 1, 7, 3, 1, 6, 0, 9, 5, 9, 1, 7, 6, 1, 7, 3, 8, 0, 0, 8,
       9, 6, 7, 1, 5, 7, 7, 4, 5, 4, 1, 7, 0, 3, 6, 5, 0, 3, 9, 3, 8, 8,
       5, 5, 4, 7, 7, 3, 0, 8, 6, 0, 3, 0, 4, 1, 7, 3, 7, 2, 2, 7, 5, 2,
       8, 0, 9, 5, 7, 3, 1, 2, 2, 1, 6, 2, 6, 5, 0, 5, 1, 4, 5, 5, 1, 0,
       9, 1, 2, 2, 2, 4, 5, 9, 1, 9, 0, 6, 4, 9, 1, 1, 0, 7, 7, 6, 1, 8,
       0, 8, 7, 1, 0, 7, 4, 9, 8, 9, 9, 8, 6, 1, 9, 1, 4, 7, 9, 2, 6, 4,
       7, 0, 1, 5, 5, 7, 4, 2, 1, 7, 7, 1, 7, 7, 1, 8, 7, 1, 0, 7, 0, 6,
       0, 2, 6, 4, 6, 3, 1, 3, 3, 8, 9, 5, 0, 0, 5, 5, 4, 4, 8, 8, 4, 6,
       9, 2, 4, 8, 7, 8, 0, 6, 2, 8, 4, 1, 8, 8, 6, 1, 0, 0, 8, 1, 6, 5,
       7, 4, 6, 8, 2, 3, 2, 9, 8, 6, 4, 6, 5, 6, 4, 1, 1, 4, 0, 9, 8, 7,
       3, 1, 7, 7, 7, 3, 0, 4, 7, 8, 6, 8, 8, 1, 5, 8, 4, 8, 0, 2, 8, 9,
       0, 3, 6, 1, 4, 8, 4, 1, 8, 6, 7, 3, 8, 6, 5, 6, 7, 3, 1, 8, 5, 0,
       0, 1, 8, 9, 2, 0, 5, 3, 3, 6, 1, 5, 1, 7, 3, 1, 8, 4, 1, 7, 1, 9,
       4, 2, 8, 6, 4, 1, 7, 0, 0, 7, 1, 0, 7, 0, 8, 4, 3, 1, 0, 7, 5, 3,
       5, 9, 1, 8, 4, 6, 7, 4, 7, 1, 0, 0, 1, 6, 4, 3, 7, 7, 4, 6, 6, 7,
       3, 3, 2, 2, 3, 7, 5, 2, 5, 2, 7, 1, 8, 3, 8, 3, 7, 7, 9, 2, 2, 2,
       7, 6, 3, 6, 8, 0, 8, 7, 5, 5, 1, 6, 3, 8, 8, 2, 7, 6, 1, 8, 5, 1,
       9, 8, 5, 1, 3, 2, 4, 8, 7, 1, 1, 6, 6, 3, 3, 7, 5, 1, 0, 3, 7, 6,
       4, 4, 2, 9, 1, 0, 3, 5, 8, 1, 1, 5, 0])

In [ ]:
precision_score(y_test, predictions, average="micro")

0.8362480127186009

In [ ]:
accuracy_score(y_test, predictions)

0.8362480127186009

In [ ]:
recall_score(y_test, predictions, average="micro")

0.8362480127186009